table{
    width: 100%;
}
.add-product {
  display: flex;
  flex-direction: column;
}

.add-product>* {
  width: 100%;
}
.product-table table button {
  margin-right: 8px;
}
.product-table button {
  margin-left: 20px;
}